/*This file is for the regular version of the startpage (file index.html)
  The single page version has embedded styling for use with Firefox.
  This version is also probably more often updated.*/

/*Change these variables to match with your setup. These colors work for
  the image I used and my overall desktop theme (see here:
  https://i.imgur.com/gxMdNKi.png).*/
:root {
	--red: #4cbe99;
	--white: #ffffff;
	--yellow: #ff8333;

	--bg: #1c1c1c;
	--fg: #2a2a2a;

	--search-bg: rgba(255, 255, 255, 0);
	}

.lightmode {
	--red: #5f605b;
	--white: #7f807b;
	--yellow: #494846;

	--bg: #f0f0f0;
	--fg: #e7e7e7;

	--search-bg: rgba(255, 255, 255, 0);
}

body {
	background-color: var(--bg);
	font-family: 'Space Mono', monospace;
	color: var(--yellow);
	transition: all 0.25s ease-out;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 10px 15px;
}

p[class=credits] > a {
	position: fixed;
	bottom: 7px;
	right: 10px;
}

/*Form based off of Vallode's work:
  https://codepen.io/Vallode/pen/abdYLOd*/
form {
	margin: 1em 0;
	position: relative;
}

form input[type="search"] {
	background-color: var(--search-bg);
	border: none;
	box-sizing: border-box;
	font-weight: bold;
	font: inherit;
	margin-left: 12px;
	width: 95%;
	color: var(--yellow);
	transition: all 0.2s;
}

form label {
	color: var(--yellow);
	position: absolute;
	transition: all 0.4s;
}

form:focus-within input::placeholder {
	opacity: 0;
}

#main_window {
	background-color: var(--fg);
	/* width: 1050px; */
	/* height: 445px; */
	width: 60%;
	height: 50%;
	/* padding-right: 40px; */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: all 0.25s;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 20px rgba(0, 0, 0, 0.19);
}

#content {
	padding-top: 30px;
	/* margin-left: 325px; */
	margin-left: 27.5%;
}

#links_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;


}

#links_container li, a {
	color: var(--white);
	width: 100%;
	/* display: inline; */

	text-decoration: none;
	transition: all 0.4s;
	text-align: left;
	padding: 8px 15px;
}


#links_container a:hover {
	color: var(--red);
	transition: all 0.4s;
}

.subtitle {
	font-weight: bold;
	color: var(--red);
	/* align-items: center; */
	/* justify-content: center; */
}

.title {
	font-weight: bold;
	font-style: italic;
}

.image {
	/* max-width: 280px; */
	max-height: 100%;
	float: left;
}

/*
  Transitions
*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--bg);
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/*
  Media querries
*/
@media (max-width: 1200px) {
	img#leftImg {
    	/* height: 280px; */
			/* max-width: 30%; */
			max-height: 100%;
  	}

  	#main_window {
		/* width: 840px; */
		width: 90%;
		height: 40%;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
	}

	#content {
		padding-top: 0px;
		/* margin-left: 220px; */
		margin-left: 20%;

	}
	#links_container li, a {
		padding: 3px;
	}

	.subtitle {
		padding: 0px 0px;
	}
}




@media (max-width: 980px) {
	img#leftImg {
    	/* height: 280px; */
			/* max-width: 30%; */
			max-height: 100%;
  	}

  	#main_window {
		/* width: 840px; */
		width: 90%;
		height: 40%;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
	}

	#content {
		padding-top: 0px;
		/* margin-left: 220px; */
		margin-left: 27.5%;

	}
	#links_container li, a {
		padding: 3px;
	}

	.subtitle {
		padding: 0px 0px;
	}
}

@media (max-width: 900px) {
	img#leftImg {
		display: none;
	}

	#main_window {
		width: 650px;
	}

	#content {
		margin-left: 20px;

	}
}

@media (max-width: 650px) {
	#main_window {
		width: 100%;
	}
}

@media (max-width: 450px) {
	form input[type="search"] {
		width: 90%;
	}
}
